/* ========== Style ========== */

/* ❤️ Fonts */
:root {
    --font-default: "Roboto", sans-serif;
}

/* palette 🎨 */
:root {
    --color-primary: #00c999;
    --color-secondary: #ec3434;
    --color-white: #eeeeee;
    --color-black: #282828;
    --color-yellow: #ffcc00;
    --color-red: #dd3030;
    --color-blue: #18a1db;
    --color-light: rgba(61, 248, 204, 0.8);
    --color-shadow: rgba(0, 0, 0, 0.5);
    --border-min: 1em;
    --border-max: 5em;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/* ⚡ Preset */

/* Hide the element when the screen width is 600px or less */
@media screen and (max-width: 600px) {
    .hidde-mobile {
        display: none;
    }
}

/* General Styles */

body {
    font-family: var(--font-default);
    color: var(--color-white);
    overflow-x: hidden;
    background: var(--color-primary);
    margin: 0;
    padding: 0;
}

h1,
h4 {
    line-height: 1em;
    font-weight: 700;
    text-align: center;
    margin: 1em auto;
    max-width: 90%;
}

h1 {
    font-size: 4em;
}

h4 {
    font-size: 2em;
    margin: 1em auto 1em auto; /* Remove top and bottom margin, and center horizontally using auto */
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

/* Buttons */

.btn {
    font-size: 1em;
    font-weight: bold;
    color: var(--color-white);
    border: none;
    border-radius: var(--border-min);
    background-color: var(--color-primary);
    box-shadow: -0.5em -0.5em 1em var(--color-light),
        0.5em 0.5em 1em var(--color-shadow);
    margin: 0em 0em 2em 1em;
    padding: 0.5em 2em;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 0 0 #00000000;
    transition: 0.5s;
}

/* Input and Form Styles */

.input {
    color: var(--color-black);
    background-color: var(--color-white);
    text-align: center;
    border: none;
    border-radius: var(--border-min);
    box-shadow: inset 0.1em 0.1em 0.5em var(--color-shadow),
        inset -0.1em -0.1em 0.5em white;
    width: 2em;
    padding: 0.5em 2em;
    transition: 1s;
    -webkit-box-sizing: initial;
}

.input:focus {
    text-align: center;
    border: none;
    border-radius: var(--border-min);
    box-shadow: inset 0 0 0 0 #00000000;
    outline: none;
}

.input:disabled {
    background-color: var(--color-primary);
    box-shadow: inset 0.1em 0.1em 0.5em var(--color-shadow),
        inset -0.1em -0.1em 0.1em var(--color-light);
    color: #2a947b;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    max-width: 70em;
    height: auto;
    border-radius: var(--border-max);
    margin: 2em auto 0em auto;
    box-shadow: -0.5em -0.5em 2em var(--color-light),
        0.5em 0.5em 2em var(--color-shadow);
    padding: 0 0.5rem 1em 0.5rem;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.subsection {
    margin: auto;
    width: 50%;
    height: auto;
    padding: 1em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.variables {
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.form__div {
    display: flex;
    width: auto;
    margin: 1em auto;
}

.form__label {
    height: auto;
    font-size: 1em;
    font-weight: bolder;
    margin: auto 1em;
}

.form__input {
}

.form__btn {
    margin: 1em auto auto auto;
}

.outputSection {
    transform: scale(0.8) translateY(20px);
    opacity: 0;
    display: none;
    transition: 2s;
    min-width: 500px;
}

#tableContainer.show {
    display: block;
    transform: scale(1) translateY(0px);
    opacity: 1;
}

.outputSection__h4 {
    margin: 0.5em auto 1em auto;
}

.f-table {
    border-collapse: collapse;
    border: none;
    font-size: 1em;
    width: 100%;
    margin: 0em 0em;
}

.f-table__headers {
}

.f-table__h {
    text-align: left;
    height: 2em;
}

.f-table__row {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 0px 0.5em 0.5em 0px;
    transition: 0.5s;
    height: 2.5em;
}

.f-table__row:hover {
}

.f-table__row--black {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 0px 0.5em 0.5em 0px;
    transition: 0.5s;
    height: 2em;
}

.f-table__row--black:hover {
}

.f-table__note {
    vertical-align: middle;
    width: 20%;
}

.f-table__frecuency {
    vertical-align: middle;
    border-radius: 0px 0.5em 0.5em 0px;
}

.outputSection__buttonsdiv {
    margin: 2em 0 0 0;
    display: inline-flex;
    text-align: center;
}

.outputSection__btnprevious {
    margin-left: 0em;
}
.outputSection__btnnext {
}
